
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Node Modules
node_modules/

# Local History for Visual Studio Code
.history/

# Mac Hidden Files
.DS_Store
