# Settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Hidden Files
.DS_Store
.history/

# Build Files
dist/onsight.min.js
node_modules/
out/
stats.html
